---
layout: archive
author_profile: true
---

{% include base_path %}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Short Bio" }}</h3>-->

<b>About Me</b>
<hr>
<br>
I am currently third year undergraduate pursuing B.E.(Hons) in Computer Science from BITS Pilani, Pilani Campus, India.<br><br>
My passion for computing started developing early since class 6 when I got introduced to the world of programming at school. This keenness has ever increased and been my boost for excelling at academics as well as co-curricular research projects and competitions.
<br>
My curriculum at BITS as well as many online courses have given me a detailed understanding on various facets. The exposure of working in research lab at BITS (SDET Unit) and abroad (FZI Forschungszentrum Informatik) have helped me identify my inclination in Data Science. The skill to develop learning models and optimised prediction algorithms fascinates as well as motivates me. It empowers me to effectively tackle the uncatered humongous data in diverse domains, widely ranging from Astrophysics to Biology.
<br>
Apart from being a keen and quick learner, I am enthusiastic to communicate with people. I am excited to find innovative ways to adapt new technology and apply it for social good.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
